html, body {
    background: #4D4C7D;
}

#interface {
    background-color: rgb(249, 251, 253);
}

/*
.visible {
    visibility: visible;
}*/

.hidden {
    display: none;
}


/*iPad width*/
#logo {
    color: white;
    font-size: 30px;
    margin-left: 22px;
    margin-top: 22px;
}

#interface {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 14vw;
    align-items: center;
    height: 75vh;
    border-radius: 10px;
}


#page1 h1 {
    text-align: center;
    padding-top: 10vh;
    font-size: 36px;
    font-family: "Segoe UI";
}

#page1 p {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-family: Helvetica;
    margin-left: 10px;
    margin-right: 10px;
}

#page2 h1 {
    text-align: center;
    padding-top: 3vh;
    font-size: 38px;
    font-family: "Segoe UI";
}

#page1 {
    position: relative;
}

#error {
    padding-left: 40px;
}

#enter-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15vh;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Segoe UI";
    border-radius: 1px;
    background-color: white;
    opacity: 95%;
}

#search-box {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35vh;
}

#num-input {
    height: 40px;
    margin-left: 10px;
    width: 52vw;
    border: 1px solid black;
}

::placeholder {
    font-size: 18px;
}

select {
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
}

optgroup {
    font-size: 20px;
}



input[type="text"]
{
    font-size: 20px;
    left: 10px;
}

#prof img {
    border-radius: 12vh;
    width:auto;
    height: 11vh;
}

#prof {
    display: flex;
}

#profile {
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
}

#info {
    padding-left: 30px;
    font-family: Helvetica;
    line-height: 1.6;
    font-size: 17px;
}

h2 {
    font-family: "Segoe UI";
}

#hl {
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
}

#luggage {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.l-info {
    display: flex;
    padding-bottom: 5px;
}

.l-info i {
    font-size: 48px;
    padding-top: 10px;
}

.l-info {
    font-family: Helvetica;
}

#text {
    font-size: 16px;
    line-height: 1.4;
    padding-left: 20px;
}